<!DOCTYPE html>
{% extends "base.html" %}


{% block mantap %}
<head>
  <title> Google Book API </title>
</head>

<body>
  <h1 id="title" class="text-center">Book Finder</h1>
	<div id="search">
		<div class="d-flex justify-content-center align-items-center">
			<div class="input-group mx-auto">
				<input type="text" id="input" class="form-control" placeholder="type your book tittle">
 				<div class="input-group-append">
    				<button onclick="readInput()" class="btn btn-outline-secondary">Search</button>
				</div>
			</div>
		</div>
	</div>

    <div id="results">
      <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Cover</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Publisher</th>
          <th scope="col">Page</th>
        </tr>
      </thead>
      <tbody id="booklist"></tbody>
    </table>
  </div>

</body>

{% endblock %}
