{% extends "base.html" %}
<html>
{% block mantap %}
{% load static %}

    <header class="header">

          <div class=activity>
              <h1 class="Title1">My Activity</h1>


                <h2 class="Title2"> XL Future Leaders 7 Awardee</h2>
                <p>A two-year intensive leadership development journey
Each year selected university students begin a leadership journey designed not only to impact those participating, <br>but the communities throughout Indonesia they will one day influence.<p>
                <img id="xlfljpg" src="{% static 'xlfl.jpg' %}">

                <h2 class="Title2"> Rumah Kepemimpinan 9 Awardee </h2>
                <p>Program Rumah Kepemimpinan bertujuan untuk mencetak pemimpin muda sebagai investasi masa depan bangsa, program strategis untuk mewujudkan Indonesia yang lebih baik dan bermartabat.<br> Dimana dibutuhkan adanya proses pembinaan dalam spiritual, mental, penguatan integritas, kredibilitas, daya saing global, kepedulian, karakter dan kepribadian yang matang, moderat <br>serta memiliki visi misi yang kokoh dalam membangun bangsa.</p>
                <img id="rkjpg" src="{% static 'rk.JPG' %}">
                </div>


          </header>

{% endblock %}







</html>
