{% extends "base.html" %}
{% load static %}
{% block mantap %}

<div class="container pb-5 pt-5 mx-auto">
  <div class="big-text pb-1">Tambah Jadwal</div>
<form action="{% url 'formulir' %}" method="POST">
  {% csrf_token %}
   <!-- ini tuh form yang dari views.py fungsi fungsi_untuk_form -->
    <div class="form-group">
  {{form.as_table}}
    </div>
    <button type="submit"  class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock %}
