{% extends "base.html" %}
{% load static %}
{% block mantap %}

<div class="container pb-5 pt-5 mx-auto">
    <div class="big-text pb-1">List of my current Schedule :</div><br>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Place</th>
                    <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in tabel %}
                    <tr>
                        <th scope="row">{{ x.activity }}</th>
                        <td>{{ x.date }}</td>
                        <td>{{ x.place }}</td>
                        <td>{{ x.kategori }}</td>
                        <td> <a href="{% url 'hapusjadwal' x.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}
