  <nav class="navbar navbar-style">
    <div class="container">
      <div class="navbar-header">
        {% load static %}

        <a href="{% url 'index' %}"><img class="logo" src="{% static "logo.png" %}"></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li> <a href="{% url 'index'%}">Home</a></li>
        <li> <a href="{% url 'aktivitassaya' %}">Aktivitas Saya</a></li>
        <li> <a href="{% url 'about'%}">About Me</a></li>
        <li> <a href="{% url 'books'%}">Cari Buku</a></li>

    </div>


      </nav>
